.cart-container{
    text-align: center;
}
.service-img{
    height: 150px;
    width: 150px;
}
.cart-items{
    margin:5%;
}
.checkout{
    margin-right: 5%;
    float:right;
}
.continue{
    margin-left: 6%;
    float:left;
}